{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
    <title>トップページ</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        
        <div id="contents">
            <div id="navi">
                <ul>
                    <li><a href="{% url 'MainMenu' %}">ログイン</a></li>
                    <li><a href="#">新規登録</a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>
