{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'psys/css/style.css' %}">
    <title>トップページ</title>
</head>
<body>
    <header>
        <h1>管理システム</h1>
    </header>
    <main>
        <div>
            <h2 id="contents_title">{{ sub_title }}</h2>
        </div>
        <div id="contents">
            <div id="navi">
                <ul>
                    <li><a href="{% url 'MainMenu' %}">ログイン</a></li>
                    <li><a href="#">新規登録</a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>
